<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Alta de Productos - Óptica tech</title>
    <link rel="stylesheet" href="../css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300;700&family=Roboto:wght@400;700&display=swap" rel="stylesheet">
</head>
<body class="google">
    <header>
        <div class="logo">
            <img src="../Logo/logo.png" alt="Óptica Tech">
        </div>
        <nav>
            <ul>
                <li><a href="../index.html">Inicio</a></li>
                <li><a href="alta.html">Alta de Productos</a></li>
                <li><a href="contacto.html">Contacto</a></li>
                <li><a href="nosotros.html">Nosotros</a></li>
            </ul>
        </nav>
        <div class="search-bar">
            <input type="text" placeholder="Buscar productos...">
            <button type="button">Buscar</button>
        </div>
    </header>

    <main>
        <section class="product-form">
            <h1>Alta de Productos</h1>
            <form id="productForm">
                <label for="nombre">Nombre:</label>
                <input type="text" id="nombre" name="nombre" required>

                <label for="precio">Precio:</label>
                <input type="number" id="precio" name="precio" required>

                <label for="stock">Stock:</label>
                <input type="number" id="stock" name="stock" required >

                <label for="marca">Marca:</label>
                <input type="text" id="marca" name="marca" required  pattern="^[a-zA-Z\s]{2,50}$" title="La Marca debe tener entre 2 y 50 caracteres y solo contener letras y espacios.">

                <label for="categoria">Categoría:</label>
                <input type="text" id="categoria" name="categoria" required  pattern="^[a-zA-Z\s]{2,50}$" title="La categoria debe tener entre 2 y 50 caracteres y solo contener letras y espacios.">

                <label for="descripcion-corta">Descripción corta:</label>
                <textarea id="descripcion-corta" name="descripcion-corta" required minlength="10" maxlength="500" title="Los comentarios deben tener entre 10 y 500 caracteres."></textarea>

                <label for="descripcion-larga">Descripción larga:</label>
                <textarea id="descripcion-larga" name="descripcion-larga" minlength="10" maxlength="500" title="Los comentarios deben tener entre 10 y 500 caracteres."></textarea>

                <label for="envio">Envío sin cargo:</label>
                <input type="checkbox" id="envio" name="envio">

                <label for="edad-desde">Edad desde:</label>
                <input type="number" id="edad-desde" name="edad-desde">

                <label for="edad-hasta">Edad hasta:</label>
                <input type="number" id="edad-hasta" name="edad-hasta">

                <label for="foto">Foto:</label>
                <input type="file" id="foto" name="foto" required>

                <button type="submit">Agregar Producto</button>
            </form>
        </section>
    </main>

    <footer>
        <p>© 2024 Optica-tech. Todos los derechos reservados.</p>
    </footer>
</body>
</html>