<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contacto - Óptica Tech</title>
    <link rel="stylesheet" href="../css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300;700&family=Roboto:wght@400;700&display=swap"
        rel="stylesheet">
</head>

<body class="google contacto">
    <header>
        <div class="logo">
            <img src="../Logo/logo.png" alt="Óptica Tech">
        </div>
        <nav>
            <ul>
                <li><a href="../index.html">Inicio</a></li>
                <li><a href="alta.html">Alta de Productos</a></li>
                <li><a href="contacto.html">Contacto</a></li>
                <li><a href="nosotros.html">Nosotros</a></li>
            </ul>
        </nav>
        <div class="search-bar">
            <input type="text" placeholder="Buscar productos...">
            <button type="button">Buscar</button>
        </div>
    </header>


    <main>
        <section class="contact-form">
            <h1>Contacto</h1>
            <form id="contactForm">
                <label for="nombre">Nombre:</label>
                <input type="text" id="nombre" name="nombre" required pattern="^[a-zA-Z\s]{2,50}$"
                    title="El nombre debe tener entre 2 y 50 caracteres y solo contener letras y espacios.">

                <label for="email">E-mail:</label>
                <input type="email" id="email" name="email" required>

                <label for="comentarios">Comentarios:</label>
                <textarea id="comentarios" name="comentarios" required minlength="10" maxlength="500"
                    title="Los comentarios deben tener entre 10 y 500 caracteres."></textarea>

                <button type="submit">Enviar</button>
            </form>
        </section>
    </main>
    <footer>
        <p>© 2024 Optica-tech. Todos los derechos reservados.</p>
    </footer>
</body>

</html>