<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nosotros - Óptica Tech</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300;700&family=Roboto:wght@400;700&display=swap" rel="stylesheet">
</head>
<body class="google nosotros">
    <header>
        <div class="logo">
            <img src="logo.png" alt="Óptica Tech">
        </div>
        <nav>
            <ul>
                <li><a href="../index.html">Inicio</a></li>
                <li><a href="alta.html">Alta de Productos</a></li>
                <li><a href="contacto.html">Contacto</a></li>
                <li><a href="nosotros.html">Nosotros</a></li>
            </ul>
        </nav>
        <div class="search-bar">
            <input type="text" placeholder="Buscar productos...">
            <button type="button">Buscar</button>
        </div>
    </header>


    <main>
        <section class="Nosotros">
            <h1>Sobre Nosotros</h1>
            <p>Óptica Tech es una tienda especializada en lentes y productos de cuidado ocular. Ofrecemos una amplia gama de lentes de sol, lentes de contacto, y accesorios para el cuidado de tus lentes.</p>
            <p>Nuestro compromiso es brindar productos de la más alta calidad a nuestros clientes, asegurando una experiencia de compra excepcional.</p>
            <p>Visítanos en nuestra tienda física o compra en línea para disfrutar de nuestros productos desde la comodidad de tu hogar.</p>
        </section>
    </main>

    <footer>
        <p class="footer-text">© 2024 Optica-tech. Todos los derechos reservados.</p>
    </footer>
</body>
</html>